<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="container mx-auto">
    <div class="flex justify-between mt-4 px-4">
        <a th:href="@{'/'}" class="group -m-2 flex items-center p-2">
            <svg class="size-6 shrink-0 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>

        </a>
        <a th:href="@{'/cart'}" class="group -m-2 flex items-center p-2">
            <svg class="size-6 shrink-0 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
            <span th:text="${cartCount}" class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800"></span>
        </a>
    </div>

    <h1 class="text-3xl text-emerald-700 text-center mt-16">Book-search</h1>
    <form action="#" th:action="@{/search}" th:object="${search}" method="POST">
        <div class="mt-8 flex gap-2 items-center justify-center">
            <label for="search" class="block text-sm/6 font-medium text-gray-900">Search</label>
            <input type="text" name="search" id="search" th:field="*{text}"
                   class="block w-64 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-emerald-700 sm:text-sm/6"
            >

            <button type="submit"
                    class="rounded-md bg-emerald-700 px-2.5 py-1.5 text-sm font-semibold text-white"
                    id="submit"
            >
                Search
            </button>
        </div>
    </form>

        <div th:if="${error}" class="text-red-500 mt-4 text-center">
            <p th:text="${error}"></p>
        </div>

        <div th:if="${not #lists.isEmpty(books)}">
            <h1 class="text-3xl text-emerald-700 text-center mt-16">Books</h1>

            <ul class="list-none flex flex-row flex-wrap items-center justify-center gap-6 mt-8 mx-4">
                <li class="flex flex-col border-2 border-emerald-700 p-4 rounded w-fit grow" th:each="book : ${books}">
                    <h2 class="text-xl" th:text="${book.title}"></h2>
                    <span class="text-xs">Author: <i th:text="${book.author}"></i></span>
                    <p class="mt-2" th:text="${book.description}"></p>
                    <span class="text-xs mt-2" th:text="'ISBN: ' + ${book.ISBN}"></span>

                    <a th:href="@{'/cart/add/{id}'(id=${book.ISBN})}">
                        <button type="button" class="rounded-md bg-emerald-700 px-2.5 py-1.5 w-fit text-sm font-semibold text-white mx-auto mt-4">
                            Add to cart
                        </button>
                    </a>
                </li>
            </ul>
        </div>
</body>
</html>