<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="container mx-auto">
<h1 class="text-3xl text-emerald-700 text-center mt-16">Your shopping cart</h1>
    <ul class="list-none flex flex-row flex-wrap items-center justify-center gap-6 mt-8 mx-4">
        <li class="flex flex-col border-2 border-emerald-700 p-4 rounded grow" th:each="book : ${items}">
            <h2 class="text-xl" th:text="${book.title}"></h2>
            <span class="text-xs">Author: <i th:text="${book.author}"></i></span>
            <p class="mt-2" th:text="${book.description}"></p>
            <span class="text-xs mt-2" th:text="'ISBN: ' + ${book.ISBN}"></span>
        </li>
    </ul>
</body>
</html>